footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ctn-footer {
    position: absolute;
    bottom: 0;
    background-color: var(--primary);
    width: 100vw;
    height: 150px;

}

.left-footer {
    display: flex;
    align-items: center;
}

.right-footer {
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    gap: 30px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 50px;
}

.right {
    display: flex;
    gap: 30px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    
}

.logo {
    height: 15px;
    margin-left: 15px;
}

.hvr:hover {
    transition: 0.3s ease;
    color: var(--hover);
}

.spo:hover {
    color: #15d759;
}

.inst:hover {
    color: rgb(199, 11, 199);
}

.you:hover {
    color: rgb(225, 11, 11);
}

.twi:hover {
    color: rgb(0, 0, 255);
}

.mentions:hover {
    color: black;
}

.sound:hover {
    color:rgb(248, 244, 244);
}