.ctn-logo-header {
    width: auto;
    max-height: 100%;
}

.logo-header {
    display: block;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 70px;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 70px;
}

.ctn-header {
    position: fixed;
    background-color: var(--primary);
    width: 100vw;
    box-shadow: 5px 5px 5px grey;
}

.btn-insc {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 60px;
}

.btn-infos {
    display: flex;
    gap: 150px;
    align-items: center;
    font-size: larger;
}

.btn {
    background-color: var(--third);
    border-radius: 10px;
    justify-content: right;
    font-size: larger;
    padding: 10px;
    transition: 0.4s ease-in-out;
}

.btn:hover {
    background-color: var(--hover);
}

.hov {
    transition: 0.4s ease-in-out;
}

.hov:hover {
    color: var(--hover);
}

.space-div {
    height: 70px;
}

.return-index {
    width: 50px;
}

.clickable {
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: 0 10px;
}

.first-letter {
    font-family: 'Vibes';
}