{{define "footer"}}
<footer class="ctn-footer">
    <div class="left-footer">
        <div class="test1">
            <a href="https://twitter.com/DUALIPA" class="hvr twi" >Twitter <img class="logo" src="../assets/img/twitter.png" alt="twitter"></a>
            <a href="https://open.spotify.com/artist/6M2wZ9GZgrQXHCFfjv46we?si=KJS7YuxfTRWqkYYCK4yljw" class="hvr spo">Spotify <img class="logo" src="../assets/img/spotify.png" alt="spotify"></a>
            <a href="https://www.youtube.com/channel/UC-J-KZfRV8c13fOCkhXdLiQ" class="hvr you">Youtube <img class="logo" src="../assets/img/youtube.png" alt="youtube"></a></a>
        </div>
        
    </div>
    <div class="right-footer">
        <div class="test2">
            <a href="https://soundcloud.com/dualipa" class="hvr sound">Soundcloud <img class="logo" src="../assets/img/soundcloud.png" alt="soundcloud"></a></a>
            <a href="https://www.instagram.com/dualipa/" class="hvr inst">Instagram <img class="logo" src="../assets/img/instagram.png" alt="instagram"></a></a>
            <a href="#" class="hvr mentions">Mentions légales</a>
        </div>
    </div>
</footer>
{{end}}