{{define "footer"}}
<footer class="ctn-footer">
    <div class="left-footer">
        <div class="left">
            <a href="https://twitter.com/DUALIPA" class="hvr twi" > <span class="first-letter">T</span>witter <img class="logo" src="../assets/img/twitter.png" alt="twitter"></a>
            <a href="https://open.spotify.com/artist/6M2wZ9GZgrQXHCFfjv46we?si=KJS7YuxfTRWqkYYCK4yljw" class="hvr spo"><span class="first-letter">S</span>potify <img class="logo" src="../assets/img/spotify.png" alt="spotify"></a>
            <a href="https://www.youtube.com/channel/UC-J-KZfRV8c13fOCkhXdLiQ" class="hvr you"><span class="first-letter">Y</span>outube <img class="logo" src="../assets/img/youtube.png" alt="youtube"></a></a>
        </div>
        
    </div>
    <div class="right-footer">
        <div class="right">
            <a href="https://soundcloud.com/dualipa" class="hvr sound"><span class="first-letter">S</span>oundcloud <img class="logo" src="../assets/img/soundcloud.png" alt="soundcloud"></a></a>
            <a href="https://www.instagram.com/dualipa/" class="hvr inst"><span class="first-letter">I</span>nstagram <img class="logo" src="../assets/img/instagram.png" alt="instagram"></a></a>
            <a href="/mentions" class="hvr mentions"><span class="first-letter">M</span>entions légales</a>
        </div>
    </div>
</footer>
{{end}}