{{define "header"}}
    <header class="ctn-header">
        <div class="ctn-logo-header">
            <div class="return-index">
                <a href="/" class="clickable"><img class="logo-header" src="../assets/img/queen-logo.png" alt=""></a>
            </div>
            
        </div>
        <div class="btn-infos">
            <a href="/dashboard" class="profil hov"><span class="first-letter">P</span>rofil</a>
            <a href="/topic" class="forum hov"><span class="first-letter">F</span>orum</a>
        </div>
        <div class="btn-insc">
            <a href="/signin" class="btn"><span class="first-letter">S</span>'inscrire</a>
            <a href="/login" class="btn"><span class="first-letter">S</span>e connecter</a>
        </div>
    </header>
    <div class="space-div"></div>
{{end}}