{{define "header"}}
    <header class="ctn-header">
        <div class="ctn-logo-header">
            <div class="return-index">
                <a href="/" class="clickable"><img class="logo-header" src="../assets/img/queen-logo.png" alt=""></a>
            </div>
            
        </div>
        <div class="btn-infos">
            <a href="/dashboard" class="profil hov">Profil</a>
            <a href="/" class="forum hov">Forum</a>
        </div>
        <div class="btn-insc">
            <a href="/signin" class="btn">S'inscrire</a>
            <a href="/login" class="btn">Se connecter</a>
        </div>
    </header>
    <div class="space-div"></div>
{{end}}