<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/style/signin.css">
    <link rel="stylesheet" href="../assets/style/header.css">
    <link rel="stylesheet" href="../assets/style/footer.css">
    <link rel="stylesheet" href="../assets/style/login.css">
    <link rel="stylesheet" href="../assets/style/global.css">
    <link rel="stylesheet" href="../assets/style/forum.css">
    <link rel="stylesheet" href="../assets/style/notfound.css">
    <link rel="stylesheet" href="../assets/style/topic.css">
    <link rel="stylesheet" href="../assets/style/intopic.css">
    <link rel="stylesheet" href="../assets/style/mentions.css">
</head>
<body>
    <script src="../assets/scripts/main.js"></script>
</body>
{{template "content" .}}
</html>