{{define "content"}}
{{template "header" .}}
<div class="ctn-form">
    <form method="post" action="/login">
    <label for="email">E-mail:</label>
    <input type="text" id="sign" name="email" placeholder="Entrez votre adresse email">
    <label for="pass">Mot de passe:</label>
    <input type="text" id="sign" name="pass" placeholder="Entrez votre mot de passe">
    <input type="submit" id="submit">
    </form>
    <div class="ctn-err">
        <p class="error-mess">{{ . }}</p>
    </div>
    
</div>


{{end}}