{{define "content"}}
{{template "header"}}

<div class="mentions">
   <h1>Mentions légales du Forum Dua Lipa.</h1> 
    <p>
        Ce site web est un forum dédié à la discussion et à l'échange d'informations sur Dua Lipa, une artiste musicale.
        Les présentes mentions légales énoncent les conditions d'utilisation de ce forum.
    </p>
    <h3 class="categorie">
        1. Responsabilité
    </h3>
    <p> L'administration du forum met en œuvre tous les moyens raisonnables pour assurer l'exactitude et la pertinence
        des informations fournies par les utilisateurs. Cependant, elle ne peut être tenue responsable de l'exactitude,
        de l'exhaustivité ou de la qualité de ces informations.

        Les utilisateurs sont seuls responsables du contenu qu'ils publient sur le forum. L'administration se réserve le
        droit de supprimer tout contenu jugé illégal, diffamatoire, offensant, ou contraire aux présentes mentions
        légales.</p>
    <h3 class="categorie">2. Propriété intellectuelle</h3>
    <p>Les contenus publiés par les utilisateurs sur le forum (messages, images, vidéos, etc.) restent leur propriété
        intellectuelle respective. En publiant du contenu sur le forum, les utilisateurs accordent à l'administration
        une
        licence non exclusive, libre de redevances, pour utiliser, reproduire, modifier et distribuer ledit contenu dans
        le
        cadre de l'exploitation du forum.

        Toute utilisation, reproduction ou diffusion non autorisée des contenus présents sur le forum peut constituer
        une
        violation des lois sur le droit d'auteur et des droits de propriété intellectuelle.</p>
    <h3 class="categorie">3. Confidentialité des données</h3>
    <p>L'administration du forum s'engage à respecter la confidentialité des données personnelles des utilisateurs
        conformément à la réglementation en vigueur, notamment le Règlement Général sur la Protection des Données
        (RGPD).
        Les données personnelles collectées sont utilisées dans le cadre de l'exploitation du forum et ne seront pas
        transmises à des tiers sans consentement préalable de l'utilisateur.

        Les utilisateurs peuvent exercer leurs droits d'accès, de rectification et de suppression de leurs données
        personnelles en contactant l'administration du forum.</p>
    <h3 class="categorie">4. Liens externes</h3>
    <p>Le forum peut contenir des liens vers des sites web externes. L'administration du forum n'est pas responsable du
        contenu de ces sites externes ni des éventuels dommages causés par leur utilisation. Les liens sont fournis à
        titre
        informatif et n'impliquent aucune approbation de la part de l'administration.</p>
    <h3 class="categorie"> 5. Modifications des mentions légales</h3>
    <p>L'administration du forum se réserve le droit de modifier les présentes mentions légales à tout moment. Les
        utilisateurs seront informés des modifications via une notification sur le forum. Il est recommandé de consulter
        régulièrement les mentions légales pour prendre connaissance des éventuelles mises à jour.

        Ceci est un exemple de mentions légales basiques pour un forum sur le thème de Dua Lipa. Vous pouvez
        personnaliser
        et adapter ces mentions légales en fonction de vos besoins spécifiques et des lois en vigueur dans votre pays.

        N'oubliez pas de consulter un avocat pour obtenir des conseils juridiques professionnels et adaptés à votre
        situation.</p>


















</div>
{{template "footer"}}
{{end}}