{{define "content"}}
{{template "header" .}}
<form method="post" action="/signin">
  <label for="username">Pseudo:</label>
  <input type="text" id="username" name="username">
  <label for="email">E-mail:</label>
  <input type="text" id="email" name="email">
  <label for="pass">Mot de passe:</label>
  <input type="text" id="pass" name="pass">
  <label for="bdate">Date de naissance:</label>
  <input type="date" id="bdate" name="bdate">
  <input type="submit">
</form>
{{.}}
{{template "footer"}}
{{end}}