{{define "topic"}}
    {{define "header" .}}
    <div class="ctn-topic">
        <ul class="list-topic">
            <li class="topic one">Topic 1</li>
            <li class="topic two">Topic 2</li>
            <li class="topic three">Topic 3</li>
            <li class="topic four">Topic 4</li>
        </ul>
    </div>
    <div class="most-liked">
        <ul class="liked">
            <li class="most-liked-mess">Topic 1</li>
            <li class="most-liked-mess">Topic 2</li>
            <li class="most-liked-mess">Topic 3</li>
            <li class="most-liked-mess">Topic 4</li>
        </ul>
    </div>
    {{define "footer" .}}
{{end}}