{{define "content"}}
{{template "header" .}}
<div>
    <form method="post">
        <label for="content">Topic:</label>
        <input type="text" name="topic-content" placeholder="Écrivez votre topic">
        <input type="submit">
    </form>
    <p class="error-mess">{{.ErrorMess}}</p>
</div>

    {{range .Data }}
    <div class="list-item">
        <a href="/topic?id={{.Id}}">
            <h1>{{ .Content }}</h1>
            <h2>{{ .Author.Username }}</h2>
            <p>{{ .PubliDate }}</p>
        </a>
    </div>
    {{end}}
{{end}}