{{define "content"}}
{{template "header" .}}
<div class="ctn-intopic">
    <div class="topic-message">
        <h1>{{(index .Data 0).Topic.Content}}</h1>
        <h2>{{(index .Data 0).Topic.Author.Username}}</h2>
    </div>
</div>
<div>
    <form method="post">
        <label for="content">Message:</label>
        <input type="text" name="mess-content" placeholder="Écrivez votre message">
        <input type="submit">
    </form>
    <p class="error-mess">{{.ErrorMess}}</p>
</div>
{{range .Data }}
<div class="ctn-intopic">
    <div class="topic-message">
        <h2>{{.Content}}</h2>
        <h3>{{.Author.Username}}</h3>
    </div>
</div>
{{end}}

{{template "footer" .}}
{{end}}