{{define "content"}}
{{template "header" .}}
{{range . }}
<div class="ctn-topics">
<div>
    <form method="post">
        <label for="content">Topic:</label>
        <input type="text" name="topic-content" placeholder="Écrivez votre topic">
        <input type="submit">
    </form>
    <p class="error-mess">{{.ErrorMess}}</p>
</div>

    {{range .Data }}
    <div class="list-item">
        <a href="/topic?id={{.Id}}">
            <h1 >{{ .Content }}</h1>
            <h2 class="content">{{ .Author.Username }}</h2>
            <p class="content">{{ .PubliDate }}</p>
        </a>
    </div>
</div>

{{end}}
{{template "footer" .}}
{{end}}